h1 {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 175px 175px;
  grid-template-rows: 50px 185px 185px;
  grid-template-areas:
    "header header"
    "main main"
    "main main";
  row-gap: 30px;
  column-gap: 30px;
}

.header {
  grid-area: header;
}

.town-block {
  border: 5px solid black;
  border-radius: 10%;
  color: black;
  text-decoration: none;
}

.town-block > h2 {
  text-align: center;
}

.img {
  width: 150px;
  padding-left: 8px;
}
